<div #header class="header noselect" id="header">
  <div class="top-bar">
    <div class="container">
      <div class="block-logo">
        <a routerLink="/start">
          <img src="./public/images/logo-dark.png" alt="AiX Pharma Logo" id="logo-white">
          <img src="./public/images/logo.png" alt="AiX Pharma Logo" id="logo-black">
        </a>
      </div>
      <div class="block-menu">
        <ul>
          <li (click)="scrollTop()" [innerHTML]="'MENU.TOP_HTML' | translate"></li>
          <li (click)="scrollTo('service')">{{'SECTIONS.SERVICES.MENU_TEXT' | translate}}</li>
          <li (click)="scrollTo('about-us')">{{'SECTIONS.ABOUT.MENU_TEXT' | translate}}</li>
          <li (click)="scrollTo('contact')">{{'SECTIONS.CONTACT.MENU_TEXT' | translate}}</li>
        </ul>
      </div>
    </div>
  </div>

</div>
