<div #header class="header noselect" id="header">
  <div class="top-bar">
    <div class="container">
      <div class="block-logo">
        <a routerLink="/start">
          <img src="./public/images/logo-dark.png" alt="AiX Pharma Logo" id="logo-white">
          <img src="./public/images/logo.png" alt="AiX Pharma Logo" id="logo-black">
        </a>
      </div>
      <div class="block-menu">
        <ul>
          <li (click)="scrollTop()">TOP</li>
          <li (click)="scrollTo('service')">Nasze usługi</li>
          <li (click)="scrollTo('about-us')">O nas</li>
          <li (click)="scrollTo('contact')">Kontakt</li>
        </ul>
      </div>
    </div>
  </div>

</div>
