<div #blockAbout class="block-service">
  <video #videoBlock id="videoBlockService" muted="muted" allow="autoplay">
    <source src="./public/videos/video.mp4" type="video/mp4">
  </video>
  <div class="text">
    <div>
      <h1 class="noselect">Nasze usługi</h1>
      <p>
        W zakresie ochrony środowiska koncentrujemy się na usługach związanych z neutralizacją odpadów u klienta, tak by
        mógł być on bezpiecznie przetransportowany i unieszkodliwiony.
        Staramy się wypełnić lukę na rynku w oferowaniu takich usług, które nie są standardowo wykonywane przez większość
        firm związanych z gospodarką odpadami.
        Doświadczenie w zakresie znajomości rynku odpadów powoduje, iż potrafimy wyjść z propozycjami obniżającymi koszty
        unieszkodliwinia odpadów.
      </p>
      <h2>Działamy głównie na terenie Polski Centralnej i Południowej!</h2>
    </div>
  </div>
</div>
