@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');

html, body {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  background: #fff;
  color: #010101;
}

body * {
  transition: all 1s;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: #ababab;
  border: 0 none #fff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d6d6d6;
}

::-webkit-scrollbar-thumb:active {
  background: #d6d6d6;
}

::-webkit-scrollbar-track {
  background: #4d4d4d;
  border: 0 none #fff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #666;
}

::-webkit-scrollbar-track:active {
  background: #a3a3a3;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

p {
  transition: all 0s;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.content > p {
  margin: 35px 0px;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
}
div.content > h2 {
  text-align: center;
  margin-top: 15px;
}
div.block-contact div.content > h2 {
  text-align: left;
}
div.show-button {
  display: inline-block;
  background: #1974c8;
  color: #fff;
  border-radius: 5px;
  padding: 3px 5px;
  margin: 5px 0px;
  cursor: pointer;
}
div.show-button:hover {
  background: #1962b4;
}
