<div class="block-about">
  <video id="videoBlockAbout" muted="muted" allow="autoplay">
    <source src="./public/videos/video.mp4" type="video/mp4">
  </video>
  <div class="text">
    <div>
      <h1 class="noselect">O nas</h1>
      <p>
        AiXPharma zajmuje się dystrybucją leków i wiarygodnych suplementów diety na terenie Polski i innowacyjnymi rozwiązaniami w zakresie ochrony środowiska i gospodarki odpadami.
        W wyborze naszych działań starmy się być jak najbliżej klienta, tak by empatycznie poznac jego potrzeby i dostosowac się do jego potrzeb znajdując najlepsze rozwiązanie.
        Staramy się wykraczać poza standardowe cele biznesowe, co przyczynia się do odbioru nas jako stabilnego i pewnnego partnera w biznesie.
      </p>
    </div>
  </div>
</div>
